<%- include ./partials/head.ejs %>

<h1></h1>


<h2>episode: <%- data.episode_number %></h2>
<p><%- data.overview %></p>
<img src="https://image.tmdb.org/t/p/w500<%- data.still_path %>" alt="" class="poster">







<%- include ./partials/footer.ejs %>