<%- include ./partials/head.ejs %>

<%- include ./partials/nav.ejs %>

<h1><%- data.name%></h1>


<p><%- data.overview %></p>

<section>

<% data.seasons.shift() %>
        <% data.seasons.forEach(poster => { -%>
    <article>
        <a href="breakingbad/season/<%- poster.season_number %>">
    <img src="https://image.tmdb.org/t/p/w500<%- poster.poster_path %>" alt="">
 <%- poster.name %></a>
</article>
<% }); %>
</section>



<%- include ./partials/footer.ejs %>