<%- include ./partials/head.ejs %>

<%- include ./partials/nav.ejs %>

<h1 class="serienaam"><%- data.name%></h1>


<p><%- data.overview %></p>

<section>

<% data.seasons.shift() %>
        <% data.seasons.forEach(poster => { -%>
    <article>
        <a href="bettercallsaul/season/<%- poster.season_number %>" class="seasonlink">
    <img src="https://image.tmdb.org/t/p/w200<%- poster.poster_path %>" alt=""  class="indexposter">
    <%- poster.name %></a>
</article>
<% }); %>
</section>



<%- include ./partials/footer.ejs %>