<%- include ./partials/head.ejs %>

<%- include ./partials/nav.ejs %>
<h1></h1>


<h2>Season: <%- data.season_number %></h2>
<img src="https://image.tmdb.org/t/p/original<%- data.poster_path %>" alt="" class="poster">
<p><%- data.overview %></p>


<% data.episodes.forEach(episode => { %>

    <table>
        <tr>
            <th>
                <img src="https://image.tmdb.org/t/p/w1280<%- episode.still_path %>" alt="" class="episode">
            </th>
        </tr>
        <tr>
            <td>
                <a href="/season/<%- episode.season_number %>/episode/<%- episode.episode_number %>" class="titel"><%- episode.name %></a>
            </td>
        </tr>
        <tr>
            <td>
                <p>Aflevering: <%- episode.episode_number %></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><%- episode.overview %></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Cijfer: <%- episode.vote_average %></p>
            </td>
        </tr>
  

    
    </table>
<article>
   
   
</article>
<% }); %>





<%- include ./partials/footer.ejs %>