<%- include ./partials/head.ejs %>

<h1></h1>


<h2>SEASON: <%- data.season_number %></h2>
<p><%- data.overview %></p>
<img src="https://image.tmdb.org/t/p/w500<%- data.poster_path %>" alt="">


<%- include ./partials/footer.ejs %>