<%- include ./partials/head.ejs %>

<h1>Posts</h1>


<p><%- data.overview %></p>
<a href="/season/<%- data.seasons[1].season_number %>"><%- data.seasons[1].name %></a>
<a href="/season/<%- data.seasons[2].season_number %>"><%- data.seasons[2].name %></a>
<a href="/season/<%- data.seasons[3].season_number %>"><%- data.seasons[3].name %></a>
<a href="/season/<%- data.seasons[4].season_number %>"><%- data.seasons[4].name %></a>
<a href="/season/<%- data.seasons[5].season_number %>"><%- data.seasons[5].name %></a>


<img src="https://image.tmdb.org/t/p/w500<%- data.poster_path %>" alt="">

<%- include ./partials/footer.ejs %>